
/* nunito-300 - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/nunito-v20-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/nunito-v20-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900 - latin_cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/nunito-v20-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v20-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body{
    background-color: white;
    font-family: Nunito, sans-serif;
    line-height: 1,5;
    font-size: 18px;
    color: #434343;
}
button{
    font: inherit;
    cursor: pointer;
}
html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
.header{
    background-color: #296C82;
    padding-top: 13px;
    padding-bottom: 13px;
    

}
.header__container{
    padding: 0 30px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__title{
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.main{
    padding: 60px 30px;
}
.main__title{
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;

}
.main__box{
margin: 0 auto;
max-width: 800px;
height: 540px;
background: #FFFFFF;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
border-radius: 30px;
}
.main__subtitle{
font-weight: 300;
font-size: 50px;
text-align: center;
margin-bottom: 60px;
}
.main__btn{
    min-width: 230px;
    height: 50px;
    padding: 0 24px;
    background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
font-weight: 600;
font-size: 18px;
color: #296C82;
display: block;
margin: 0 auto;
transition-property: background-color, color;
transition-duration: 0.24s;
transition-timing-function: ease-in-out;

}
.main__btn:hover{
    background-color: #ccc5c5;
}
.main__subtitle_result{
    margin-bottom: 50px;
}
.selection {
padding: 50px;
}
.selection__list{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-color: rgba(140, 140, 140,0.1);
    scrollbar-width: thin;

}
.selection__list::-webkit-scrollbar{
width: 6px;

}
.selection__list::-webkit-scrollbar-thumb{
background: rgba(140, 140, 140,0.1);
border-radius: 8px;
}
.selection__item{
display: flex;
margin-bottom: 15px;
}
.selection__item:last-child{
    margin-bottom: 0;
}
.selection__theme{
width: 100%;
max-width: 520px;
background: #F1F9FB;
border-radius: 12px;
font-weight: 600;
font-size: 22px;
text-align: left;
border: none;
padding: 16px 20px;

}
.selection__theme:hover{
    background-color: #e4dcdc;
    transition-property: background-color, color;
transition-duration: 0.24s;
transition-timing-function: ease-in-out;
}

.selection__theme:not(:last-child) {
margin-right: 20px;
}
.selection__result{
width: min-content;

}
.selection__result-ratio{
    display: block;
    text-align: center;
    font-weight: 600;
font-size: 22px;
color: #296C82;

}
.selection__result-text{
display: block;
text-align: center;
color: #8C8C8C;
font-weight: 300;
font-size: 12px;
line-height: 110%;
}
.main__box_question{
    padding: 60px 120px;
    height: auto;
    min-height: 540px;
}
.main__form-question{
    position: relative;

}
.main__form-question::after {
    content: attr(data-count);
    position: absolute;
    bottom: 0;
    right: 0;
    color: #8C8C8C;
    font-weight: 300;
font-size: 18px;
}
.answer{
    position: relative;
    display: block;
    margin-bottom: 26px;
    font-weight: 600;
font-size: 18px;
line-height: 40px;
padding-left: 65px;
}
.answer__checkbox{
   position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    width: 40px;
    height: 40px;
    margin:0 0 0 -65px;
}
.answer__checkbox::before  {
content:'';
position: absolute;
top: 0;
left: 0;
display: block;
width: 40px;
height: 40px;
background-color: white;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}
.answer__checkbox::after {
content:'';
position: absolute;
top: 15px;
left: 12px;
height: 8px;
width: 17px;
border: 2px solid #434343;
border-top: none;
border-right: none;
transform: rotate(-45deg);
opacity: 0;
transition: opacity 0.24s ease;

}
.answer__checkbox:checked:after{
    opacity: 1;
}
.answer__checkbox:focus:before,
.answer__checkbox:hover:before{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
/* Радио кнопки */
.answer__radio{
   position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    width: 40px;
    height: 40px;
    margin:0 0 0 -65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer__radio::before  {
content:'';
position: absolute;
top: 0;
left: 0;
display: block;
width: 40px;
height: 40px;
background-color: white;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
border-radius: 50%;
}
.answer__radio::after {
content:'';position: relative;
height: 14px;
width: 14px;
background-color:  #434343;
z-index: inherit;
border-radius: 50%;
opacity: 0;
transition: opacity 0.24s ease;

}
.answer__radio:checked:after{
    opacity: 1;
}
.answer__radio:focus:before,
.answer__radio:hover:before{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.main__form-question_error .answer__checkbox::before,
.main__form-question_error .answer__radio::before {
    animation: blink .3s ease-in-out 3;
} 
@keyframes blink {
    to { 
    box-shadow: 0px 2px 10px rgba(255, 0, 0, 0.55);
    }
}

/* Блок результат */

.main__box_result{
padding: 60px;
display: flex;
flex-direction: column;
align-items: center;

}
.result__box{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: auto;
}
.result__ratio{
width: 127px;
height: 127px;
display: flex;
align-items: center;
justify-content: center;
background-color: lightblue;
border-radius: 50%;
font-weight: 600;
font-size: 32px;
color: #FFFFFF;
margin-bottom: 20px;
}
.result__ratio_1{
background-color:#DC1C1C;
}
.result__ratio_2{
background-color:#EFCF24;
}
.result__ratio_3{

background-color:#49F050;
}
.result__text{
font-weight: 600;
font-size: 18px;
}
@media(max-width:1024px){
    .selection__list{
        padding-right: 30px;
    }
    .selection__theme{
        font-size: 20px;
    }
    }

@media(max-width:768px){
.header__container{
    padding: 0 20px;
    }
    .main{
        padding: 40px 20px;
    }
    .main__title{
        font-size: 34px;
        
    }
    .main__box{
        padding: 40px;
    }
    .selection__list{
        padding-right: 15px;
    }
     .selection__theme{
        font-size: 18px;
        padding: 10px 15px;
    }
    .selection__item{
        margin-bottom: 10px;
    }
    .selection__result{
        display: flex;
        align-items: center;
    }
    .selection__result-text{
        display: none;
    }
    .selection__theme:not(:last-child) {
margin-right: 15px;
}
}
@media(max-width:560px){
    .main__btn:not(.result__return){
        margin-left: 0;
        min-width: 100%;
    }
    .main__form-question::after{
        bottom: -35px;
    }
    .main__subtitle{
        font-size: 20px;
    }
    .main{
        padding: 30px 10px;
    }
    .main__box{
        padding: 15px;
        border-radius: 15px;
    }
    .selection__result-ratio{
        font-size: 18px;
    }
}

